<div>
  <div class="join w-full">
    <div class="join-item">
      <textarea class="textarea textarea-bordered textarea-lg" [rows]="rows" placeholder="输入json, 支持json5" [(ngModel)]="inputValue.value"></textarea>
    </div>
    <div class="join-item flex items-center">
      <div class="flex flex-col pb-1">
        <button class="btn btn-primary tooltip mt-1" data-tip="格式化" (click)="format()">格式化</button>
        <button class="btn btn-primary tooltip mt-1" data-tip="压缩 " (click)="zip()">压缩 </button>
        <button class="btn btn-primary tooltip mt-1" data-tip="转义 " (click)="escape()">转义 </button>
        <button class="btn btn-primary tooltip mt-1" data-tip="反转义" (click)="unescape()">反转义</button>
      </div>
    </div>
    <div class="join-item">
      <div class="indicator">
        <div class="indicator-item">
          <button class="btn btn-sm" (click)="copy()">
            <fa-icon [icon]="copyBtn.icon"></fa-icon>
            {{copyBtn.text}}</button>
        </div>
        <textarea disabled class="textarea textarea-bordered textarea-lg" [rows]="rows"
          [value]="outputValue"></textarea>
      </div>
    </div>
  </div>
</div>
