
<div class="container w-[46rem]">
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost normal-case text-xl" href="https://github.com/xyz327/x-tools" target="_blank">x-tools</a>
  </div>
  <div class="grid grid-cols-3 gap-4 pb-4 pl-4">
    <div *ngFor="let item of features" class="card card-compact	card-side bg-gray-100 px-2 hover:bg-gray-300 cursor-pointer" (click)="gotoFeature(item)">

      <div class="mt-4">
        <fa-icon [icon]="item.icon" [spin]="false" size="4x" [classes]=""></fa-icon>
      </div>

      <div class="card-body">
        <div class="card-title">{{item.name}}</div>
        <div>{{item.desc}}</div>
      </div>
    </div>
  </div>

</div>
