
<div class="container w-[42rem] max-w-2xl">
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost normal-case text-xl">x-tools</a>
  </div>
  <div class="grid grid-cols-3 gap-4 m-2 p-2">
    <div *ngFor="let item of features" class="card card-compact	card-side bg-gray-100 px-2 hover:bg-gray-300 cursor-pointer" (click)="gotoFeature(item)">
      <div class="mt-4">
        <fa-icon [icon]="item.icon" [spin]="true" size="4x" [classes]=""></fa-icon>
      </div>

      <div class="card-body">
        <div class="card-title">{{item.name}}</div>
        <div>{{item.desc}}</div>
      </div>
    </div>
  </div>

</div>
