<div class="container w-[42rem] max-w-2xl">
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost normal-case text-xl" (click)="backIndex()">
      <fa-icon icon="reply"></fa-icon>
      <span class="font-bold text-center text-xl">设置</span>
    </a>
  </div>
  <div class="grid gap-1 p-2">

    <div class="join input-md">
      <span class="join-item bg-base-300 flex items-center px-4 text-xl text-gray-600 w-56 mr-5">
        <fa-icon icon="person-running" size="xl"></fa-icon>
        <span class="ml-1">下班时间</span>
      </span>
      <div class="join-item mr-5">
        <label class="label cursor-pointer">
          <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="showWorkRemain.value" />
        </label>
      </div>
      <label class="join-item input-md w-28 input flex items-center gap-2 tooltip" data-tip="手动输入下班时间">
        <fa-icon icon="clock"></fa-icon>
        <input type="text" class="grow" [(ngModel)]="offworkTimeValue.value">
      </label>

    </div>

    <div class="join input-md">
      <span class="join-item bg-base-300 flex items-center px-4 text-xl text-gray-600 w-56 mr-5">
        <fa-icon icon="hourglass-end" size="xl"></fa-icon>
        <span class="ml-1">今天剩余时间</span>
      </span>
      <div class="join-item form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="showTodayRemain.value" />
        </label>
      </div>
    </div>

    <div class="join input-md">
      <span class="join-item bg-base-300 flex items-center px-4 text-xl text-gray-600 w-56 mr-5">
        <fa-icon icon="circle-half-stroke" size="xl"></fa-icon>
        <span class="ml-1">自动暗黑模式</span>
      </span>
      <div class="join-item form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="autoDarkMode.value" />
        </label>
      </div>
    </div>
    <div class="join input-md">
      <span class="join-item bg-base-300 flex items-center px-4 text-xl text-gray-600 w-56 mr-5">
        <fa-icon icon="database" size="xl"></fa-icon>
        <span class="ml-1">数据</span>
      </span>
      <div class="join-item">
        <button class="btn btn-primary" (click)="showClearDataModal()">全部清除</button>
      </div>
    </div>

  </div>
</div>

<dialog id="clear_data_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">清除数据!</h3>
    <p class="py-4">确定要清除全部数据吗?</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-warning m-1" (click)="clearData()">确定</button>
        <button class="btn m-1">取消</button>
      </form>
    </div>
  </div>
</dialog>
